include *.txt
include reqs/*.txt
include LICENSE
include great_expectations/data_context/checkpoint_template.yml
include great_expectations/init_notebooks/*/*.ipynb
include versioneer.py
include great_expectations/_version.py
include py.typed

recursive-include great_expectations/render *.j2 *.md *.py
recursive-include great_expectations *.pyi
recursive-include great_expectations py.typed

graft great_expectations/render/view/static
graft tests

global-exclude *.py[co]
