# This file installs the actual packages needed for type checking with mypy.
# Type stubs are installed automatically by mypy's --install-types flag during type checking.
# For usage instructions, run: invoke types --help

--requirement reqs/requirements-dev-sqlalchemy2.txt
--requirement requirements.txt
--requirement reqs/requirements-dev-lite.txt
--requirement reqs/requirements-dev-spark.txt
--requirement reqs/requirements-dev-azure.txt
--requirement reqs/requirements-dev-contrib.txt
--requirement reqs/requirements-dev-cloud.txt
--requirement docs/sphinx_api_docs_source/requirements-dev-api-docs.txt
pandas-stubs
# force sqlalchemy 2 because it exports types
sqlalchemy>2.0
